*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.btn{
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
    padding: 20px 40px;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px;
}
.heading-1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.text-1{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px;
}
.banner-img{
    width: 460px;
}