*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.btn{
    border-radius: 8px;
    background-color: #E55473;
    color: white;
    border: none;
    padding: 20px 40px;
    cursor: pointer;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px;
}
.heading-1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.text-1{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px;
}
.banner-img{
    width: 460px;
}
.feature{
    text-align: center;
    margin: 150px 240px 120px;
}
.heading-2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.text-2{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 40px;
}
.feature-img{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}
.box{
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.feature-1{
    border-radius: 300px 300px 0px 0px;
background-color: rgba(167, 33, 98, 0.15);

}
.feature-2{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);

}
.feature-3{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);

}
.feature-box{
width: 200px;
}
.feature-box-text{
    color: #272727;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 30px;
}
.op{
    margin: 0px 240px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 80px;
    text-align: center;
}
.op-img{
    width: 88px;
height: 88px;
}
.op-text{
    color: rgba(39, 39, 39, 0.80);
font-size: 14px;
font-weight: 600;
line-height: 35px;
}
.hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 100px 240px;
    border-radius: 8px;
background-color: rgba(229, 84, 115, 0.05);
gap: 150px;
}
.hd-img{
    width: 318px;
height: 420px;
}
.insta{
    padding: 128px 240px;
    text-align: center;
}
.insta-imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.insta-img{
    width: 220px;
}
.ld{
    text-align: center;
    margin: 0px 240px 128px;
    background-image: url('../image/Rectangle\ 9.png');
    padding: 122px;
}
.ld-input{
    border-radius: 8px;
background-color: #FFF;
padding: 22px;
border: none;
width: 400px;
margin-right: 16px;
}